<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Cool, basic stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Quick access to the Cartoon Network (US) schedule.">
    <meta name="author" content="CTOON">
    <meta name="robots" content="nofollow">

    <title>CN Schedule</title>

    <!-- Verification stuff -->
    <meta name="google-site-verification" content="Spx1iga7tn8nrcaqbLh7RnekjcXBKvtplgswT9rONa8" />
    <meta name="flattr:id" content="22jl5v">

    <!-- Twitter hell -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sugrocks">
    <meta name="twitter:title" content="Cartoon Network Schedule" data-vue-meta="true">
    <meta name="twitter:description" content="Quick access to the Cartoon Network schedule.">
    <meta name="twitter:image" content="https://cn.sug.rocks/static/img/icons/CN-Pink.png">
    <meta name="twitter:image:alt" content="CN Schedule">

    <!-- Open Graph hell -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CN Schedule">
    <meta property="og:title" content="Cartoon Network Schedule" data-vue-meta="true">
    <meta property="og:description" content="Quick access to the Cartoon Network (US) schedule.">
    <meta property="og:url" content="https://cn.sug.rocks/" data-vue-meta="true">
    <meta property="og:image" content="https://cn.sug.rocks/static/img/icons/CN-Pink.png">

    <!-- App hell -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#ec018c">
    <meta name="apple-mobile-web-app-title" content="Schedule">
    <meta name="application-name" content="Schedule">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <div id="jserror">
      <noscript>
        <h1>CN Schedule</h1>
        <p>
            <b>Please enable Javascript!</b>
            Our app rely on it to fetch, store and display the data.<br>
            Thanks!
        </p>
      </noscript>
    </div>

    <div id="app"></div>

    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
</html>
