.container {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    white-space: nowrap;
    left: 0;
}

.day {
    display: inline-block;
    vertical-align: top;
    width: 150px !important;
    font-size: 10px;
}

.time-table {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
}

.time-line {
    height: 25px;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.slot {
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 0px 1px #000;
    -moz-box-shadow: inset 0px 0px 0px 1px #f00;
    box-shadow: inset 0px 0px 0px 1px #000;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.show {
    text-overflow: ellipsis;
    overflow: hidden;
}
