$black: #000;
$gray: #aaa;
$white: #fff;
$red: #f00;

$semi-transparent-black: rgba(0, 0, 0, .4); // Stats borders
$semi-transparent-white: rgba(255, 255, 255, .1); // Date list borders
$dates-bg: #262626; // Date list background
$selected: #86e0ff; // Selected link, lighter than $cn-blue

$line-even: #333; // List even lines
$line-odd: #3e3e3e; // List odd lines
$dark-red: #72000d; // On Air line

$cn-blue: #00aeef;
$cn-pink: #ec018c;
$cn-yellow: #ffeb00;
$zap2it: #acffad;
$tvguide: #d61403;
