// sass-lint:disable force-element-nesting, nesting-depth, class-name-format, no-transition-all
$black: #000;
$gray: #aaa;
$white: #fff;
$red: #f00;

$loading-stripes: rgba(255, 255, 255, .5); // White strips in "Loading..."
$semi-transparent-black: rgba(0, 0, 0, .4); // Stats borders
$semi-transparent-white: rgba(255, 255, 255, .1); // Date list borders
$dates-bg: #262626; // Date list background
$selected: #86e0ff; // Selected link, lighter than $cn-blue

$line-even: #333; // List even lines
$line-odd: #3e3e3e; // List odd lines
$dark-red: #72000d; // On Air line

$cn-blue: #00aeef;
$cn-pink: #ec018c;
$cn-yellow: #ffeb00;
$zap2it: #acffad;

@font-face {
  font-family: 'cnbold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/cn_bold.woff') format('woff'), url('./assets/fonts/cn_bold.ttf') format('ttf'), url('./assets/fonts/cn_bold.otf') format('otf'), url('./assets/fonts/cn_bold.eot'), url('./assets/fonts/cn_bold.eot?#iefix') format('embedded-opentype');
}

body {
  // "REFRESHING" DESIGN, LOL
  background-color: $black;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'cnbold', sans-serif;
  font-weight: 900;
}

h1 {
  color: $cn-pink;
  font-size: 28px;
  height: 38px;
  margin: 5px 10px 0;
  z-index: 5;
}

h2 {
  &.loading {
    animation: loading 1.5s linear infinite;
    background-color: $black;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, $loading-stripes 35px, $loading-stripes 70px);
    background-size: 100px 100px;
    margin: 0;
    padding: 7px 0 8px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 50;
  }
}

small {
  font-size: .7em;
}

a {
  color: $cn-blue;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 2px;

  th,
  td {
    line-height: 1.2rem;
    padding: 5px 10px;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    text-align: center;
  }
}

.app {
  &.no-zap .zap2it,
  &.no-past .past {
    display: none;
  }
}

.modal {
  background-color: $cn-yellow;
  color: $black;
  line-height: 20px;
  max-height: calc(100vh - 12px);
  overflow-y: auto;
  padding: 6px 0;
  position: fixed;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 40;

  &.stats {
    .two-columns-stats {
      display: inline-block;
      margin: 0 auto;

      .top-shows {
        border: $semi-transparent-black 1px solid;
        text-align: left;

        tr {
          border-bottom: 1px solid $semi-transparent-black;
        }
      }

      > div {
        margin: 0 auto;
        max-width: 200px;
      }
    }
  }

  &.about {
    .as {
      background-color: $black;
      color: $white;
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 900;
      padding: 0 5px;
      text-decoration: none;
    }
  }
}

.dates {
  background-color: $dates-bg;
  color: $white;
  width: 100%;
  z-index: 10;

  td {
    border-bottom: 1px solid $semi-transparent-white;
    cursor: pointer;
    padding: 15px;

    &:hover {
      background-color: $black;
    }

    &.selected {
      color: $selected;

      svg * {
        stroke: $selected;
      }
    }

    &.update {
      background-color: $red;
    }

    &.special-links {
      font-style: italic;
      padding-top: 8px;
      text-align: center;

      svg {
        height: 1.2em;
        width: 1.2em;
      }
    }
  }

  .zap2it td {
    &::before {
      background: url('./assets/zap2it.png') no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: .9em;
      position: relative;
      top: 2px;
      width: .9em;
    }
  }

  .past {
    color: $gray;
  }
}

.schedule {
  .alt-toggle {
    background-color: $cn-yellow;
    color: $black;
    font-size: 15px;
    padding: 15px 5px;
    text-align: center;
  }

  table {
    width: 100%;
    z-index: 20;

    .schedule-info {
      background-color: $cn-yellow;
      color: $black;
      padding: 20px;
      text-align: center;
    }

    .schedule-zap2it {
      background-color: $zap2it;
      color: $black;
      text-align: center;
    }

    .schedule-notfound {
      border: $red 2px solid;
      padding: 20px;
    }

    tr {
      &:nth-child(even) {
        background-color: $line-even;
      }

      &:nth-child(odd) {
        background-color: $line-odd;
      }

      &.on-air {
        background-color: $dark-red;
      }

      .field-time {
        color: $white;
        text-align: right;
        width: 70px;
      }

      .field-show {
        color: $cn-blue;
        font-weight: bold;
      }

      .field-title {
        color: $white;
        font-style: italic;
      }
    }
  }
}

.grid {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  z-index: 20;

  // Scrollbar
  .ps__scrollbar-x-rail,
  .ps__scrollbar-y-rail {
    z-index: 30;
  }

  .time-head,
  .date {
    background-color: $cn-pink;
    color: $black;
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 23;
  }

  .zap2it .date {
    background-color: $zap2it;
  }

  .cn .date {
    background-color: $cn-blue;
  }

  .cn.past .date {
    background-color: $cn-yellow;
  }

  .time-table {
    display: inline-block;
    font-size: 10px;
    left: 0;
    margin-right: -3px;
    padding: 0 1px 5px 0;
    position: sticky;
    vertical-align: top;
    z-index: 26;

    .time-line {
      // Vertical center alignment
      align-items: center;
      box-shadow: inset 0 0 0 1px $black;
      display: flex;
      height: 50px;
      // Horizontal center alignment
      justify-content: center;
      padding: 0 5px;

      &:nth-child(even) {
        background-color: $line-even;
      }

      &:nth-child(odd) {
        background-color: $line-odd;
      }
    }
  }

  .day {
    display: inline-block;
    font-size: 10px;
    padding: 0 1px;
    vertical-align: top;
    width: 150px;

    .slot {
      // Vertical center alignment
      align-items: center;
      box-shadow: inset 0 0 0 1px $black;
      display: flex;
      // Horizontal center alignment
      justify-content: center;
      overflow: hidden;
      text-align: center;

      .show {
        overflow: hidden;
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all .3s ease;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.slideOut-enter-active,
.slideOut-leave-active {
  transition: all 1s ease;
}

.slideOut-leave-to {
  transform: translateY(-100px);
}

// Barber pole animation
@keyframes loading {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100px 0;
  }
}

// Make a two-column layout starting 630px in width
@media screen and (min-width: 630px) {
  .dates {
    float: left;
    width: 200px;

    td {
      padding: 5px 10px;
    }
  }

  .schedule {
    .alt-toggle {
      border-radius: 5px 0 0;
      float: right;
      margin-top: -29px;
      padding: 5px;
    }

    table {
      width: calc(100% - 200px);
    }
  }

  .grid {
    height: calc(100vh - 75px);
    overflow-y: scroll;
    width: calc(100% - 200px);
  }

  .modal {
    &.stats {
      .two-columns-stats {
        display: inline-flex;
      }
    }
  }
}


// If high enough, make the dates list sticky
@media screen and (min-width: 610px) and (min-height: 580px) {
  .dates {
    position: sticky;
    top: 0;
  }
}
